/*  */
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@800&family=Montserrat:wght@100&display=swap');

html {
    box-sizing: border-box;
}

:root {
    --column-1: #a2622d;
    --column-2: #1b6161;
    --column-3: #248224;
    --column-4: #a22d22;
}

body {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1682685797439-a05dd915cee9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
    background-size: cover;
    background-position: 50% 60%;
    background-attachment: fixed;
}


/* Columns */
.drag-column {
    flex: 1;
    margin: 20px 10px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10PX;
    overflow-x: hidden;
}

.backlog-column .header,
.backlog-column .solid,
.backlog-column .solid:hover,
.backlog-column .over {
    background-color: var(--column-1);
}

.progress-column .header,
.progress-column .solid,
.progress-column .solid:hover,
.progress-column .over {
    background-color: var(--column-2);
}

.complete-column .header,
.complete-column .solid,
.complete-column .solid:hover,
.complete-column .over {
    background-color: var(--column-3);
}

.on-hold-column .header,
.on-hold-column .solid,
.on-hold-column .solid:hover,
.on-hold-column .over {
    background-color: var(--column-4);
}

.header {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
    color: white;
}

.header h1 {
    font: 1.25rem;
}

.main-title {
    color: white;
    background: none;
    font-weight: bolder;
    text-align: center;
}

/* Drag and Drop */
.over {
    padding: 50px 10px;
}

.drag-item-list {
    min-height: 50px;
}

.drag-item {
    height: fit-content;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    list-style: none;
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    line-height: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

.add-btn {
    font-size: x-large;
    color: white;
    max-width: 153px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.add-btn:hover {
    background-color: rgb(166, 159, 159);
}

.add-item {
    position: relative;
    border-radius: 10px;
    border: 15px solid rgb(225, 217, 217);
    background-color: white;
    color: black;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 500px;
}

/* Custom Scrollbar */
.custom-scroll {
    overflow-y: auto;
    max-height: 52vh;
}

.custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 5px;
}

.custom-scroll::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 00 6px rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.8);
}